# Environments
venv/
.venv/
env/
__pycache__/
.idea/
.DS_Store
.env

# Heavy ML Models and folders
review_topic_model/
models/embedding_model.pkl
*.pkl
!models/svm_final_model.pkl
!models/svm_final_label_encoder.pkl

# Databases and Data files
*.db
!data/metrics.db
*.csv
!data/master.xlsx
!processed_ids.csv
!data/tags.csv

# Archive files and folders
archive/